*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    max-width: auto;
}

:root{
    --color-red:#E3646E;
    --color-purple: #3996DB;
    --color-green:#82BC4F;
    --color-yellow:#EABD5F;

    --color-gray-100:#E2E4E9;
    --color-gray-200:#C0C4CE;
    --color-gray-300:#878EA1;
    --color-gray-400:#292C34;
    --color-gray-500:#16181D;
    --color-gray-600:#0D0E11;
 
    /* fontes */
    --font-title:"Asap", sans-serif;
    --font-subtitle: "Inconsolata",manospace;
    --font-text:"Maven Pro",sans-serif;
    
}

html{
    scroll-behavior: smooth;
}

body{
    background-color: var(--color-gray-200);
    color: var(--gray-500);
    font-family: var(--font-text);

}

img{
    display: block;
    max-width: 100%;
}

h1, h2,p{
    margin: 0;
}