#services{
    padding: 88px 24px 120px;
    background-color: var(--color-gray-600);

}

.services-header{
    margin-bottom: 56px;
    text-align: center;
}

.services-header span{
    color: var(--color-red);
    font-family: var(--font-subtitle);
    font-size: 20px;
    line-height: 120%;
}

.services-header h2{
    margin-top: 8px;

    color: var(--color-gray-100);
    font-family: var(--font-title);
    font-size: 24px;
    font-weight: 700;
    line-height: 120%;

}

.services-grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
    max-width: 888px;
    margin-inline: auto;
}

.service-card{
    padding: 20px;
    border: 2px solid var(--color-gray-500);
    border-radius: 12px;

}

.service-card img{
    width: 48px;
    height: 48px;

    margin-bottom: 20px;
}

.service-card h3{
    margin-bottom: 8px;
    color: var(--color-gray-100);
    font-family: var(--font-title);
    font-size: 16px;
    font-weight: 700;
}

.service-card p {
    color: var(--color-gray-300);
    font-family: var(--font-text);
}

@media (max-width: 800px) {
    .services-grid {
        grid-template-columns: 1fr;
        max-width: 500px;
    }
}